body {
  font-family: Century Gothic;
  color: whitesmoke;
  background-color: #000b1e;
}

h1 {
  font-weight: normal;
}

.flex-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.list {
  display: block;
}
.list-el {
  cursor: pointer;
  display: block;
  padding: 10px;
  color: #0abdc6;
  text-decoration: none;
  text-align: center;
  background-color: #a0d2eb;
  transition: linear 0.2s;
  border-radius: 2px;
  box-shadow: #ffffff5d 0 0 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial;
}
.list-el:hover {
  background: #89b8cf;
}
.list-el:active {
  background-color: radial-gradient(
    circle,
    #89b8cf 30%,
    transparent,
    #ffffff5d 35%
  );
}

.col3 {
  margin: 10px;
  width: 25%;
}
